<html>
<head>
<style>
body {
    background-color: blue;
}

h1 {
    color: orange;
    text-align: center;
}
p {
    font-family: "Times New Roman", serif;
    font-size: 42px;
}
</style>
</head>
<body>

<h1>YOU CAN'T PROVE THAT THIS ISN'T IRONICALLY STYLED</h1>
<p>Can't say that I actually suck at graphical design if I pretend it's ironic!</p>

</body>
</html>