<style>
body {
    background-color: light;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: rgb(255, 232, 255);
}
.intro{
	background-color: rgb(255, 232, 255);
	text-color: white;
	
}
h1 {
    color: orange;
    text-align: center;
}
header {
    font-family: "Times New Roman", serif;
    font-size: 45px;
}
#partone{
    font-family: Arial;
    font-size:30px;
}
#parttwo{
    font-family: Times New Roman;
    font-size: 30px;
}
</style>
